* {
    font-family: 'Poppins', sans-serif;
}

.foto img{
    margin: auto;
    display: block;
    width: 1280px;
    height: 705px;
    border-radius: 33px;
}
.buss{
    width:200px ;
    height:41px ;
    background-color: rgba(98, 142, 255, 0.71);
    position: fixed;
    left: 1073px;
    top:180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buss p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.uss{
    width:200px ;
    height:41px ;
    background-color: rgba(241, 241, 241, 0.84);
    position: fixed;
    left: 1273px;
    top:180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uss p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.nav {
    width: 1500px;
    height: 67px;
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(242, 242, 242, 0.70);
}

nav ul {
    list-style: none;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
}


nav ul a{
    text-decoration: none;
    color: black;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 24px;
}

nav ul a:hover{
    background-color: #93ABFF;
    border-radius: 33px;
    width: 115px;
}

nav li {
    display: inline-block;
    text-align: center;
}

/*.selector{
    width: 170px;
    height: 48px;
    background-color: rgb(23, 74, 241);
    border-radius: 33px;
    position: fixed;
    right: 115px;
    top:10px;
    
}*/
.login-container{
    margin: 0%;
    width: 447px;
    height: 725px;
    background-color:#A5D0F8;
    position: fixed;
    bottom: 0px;
    left: 1050px;
    border-radius: 33px;
    display: flex;
    justify-content:space-around;
}

.login-info-container{
    top: 250px;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social-login{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top:250px;
}

.image{
    width: 45px;
    height: 45px;
}

.input{
    background-color: #FFFFFF;
    border:none;
    width: 420px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
}

.r{
    float: left;
    font-size: 12px;
}

.o{
    float: right;
    font-size: 12px;
    color: #0044F2;
}

.buttom{
    border:none;
    background-color: #628EFF;
    color: #FFFFFF;
    border-radius: 4px;
    width: 425px;
    height: 40px;
}

.enunciado{
    font-size: 12px;
    color: #7A7979;
    position: absolute;
    top:200px;
}
.n{
    font-size: 12px;
    position: absolute;
    top:60px;
}
.a{
    font-size: 12px;
    position: absolute;
    color: #7A7979;
    text-decoration: none;
    top:90px;
}

.popup{
    width: 30%;
    background-color: #628EFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 15px;
    position: absolute;
    left: 40%;
    top: 35%;
    display: none;
}